.trial{
   
    margin-left: auto;
    margin-right: auto;
    width:45%;
    margin-top: 10px;
}
h2{
    margin-left: auto;
    margin-right: auto; 
}
tbody{
    background-color:#C0C0C0 ;

}
.link1{
   
        background-color: grey;
        color: white;
        padding: 4px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      
}
.button1{
    background-color: grey;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}
